<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>GIT Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="./app/addins/normalize/v5.0/normalize.css">
	<link rel="stylesheet" href="./app/addins/bootstrap/v3.3.7/css/bootstrap.css">
	<link rel="stylesheet" href="./app/addins/bootstrap-datepicker/v1.6.4/css/bootstrap-datepicker3.css">
	<link rel="stylesheet" href="./app/page/css/index.css">
</head>

<body>
	<div id="app" class="container-fluid">
		<div class="panel panel-default" style="margin-top:10px;">
			<div class="panel-body">
				<button type="button" class="btn btn-success btn-md" @click="addWorkspace" title="添加Git工作目录"><span class="glyphicon glyphicon-plus"></span> 添加Git工作目录</button>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">工作目录</div>
			<div class="panel-body" style="max-height:580px;overflow:auto">
				<table class="table table-striped table-condensed table-hover" style="table-layout: fixed;font-size:12px;" v-if="workspaces.length">
					<thead>
						<tr>
							<th style="width:20%">名称</th>
							<th style="width:20%">目录</th>
							<th style="width:15%">当前分支</th>
							<th style="width:20%">需要合进develop的分支</th>
							<th style="width:15%">新分支（基于develop）</th>
							<th style="width:10%">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item, index) in workspaces">
							<td :title="item.title">{{item.title}}</td>
							<td :title="item.path">{{item.path}}</td>
							<td :title="item.nowBranch">{{item.nowBranch}}</td>
							<td>
								<select class="form-control col-xs-12" v-model="item.branchIntoDevelop">
									<option value="">无</option>
									<option v-for="branch in item.AllBranches" :value="branch.name">
										{{branch.name}}
									</option>
								</select>
							</td>
							<td><input type="text" class="form-control col-xs-12" placeholder="输入新分支" v-model.lazy.trim="item.newBranch"></td>
							<td>
								<button type="button" class="btn btn-info btn-xs" @click="showLogModal(item)" title="获取日志"><span class="glyphicon glyphicon-search"></span></button>
								<button type="button" class="btn btn-primary btn-xs" @click="selectWorkspace(item)" title="更换目录"><span class="glyphicon glyphicon-cog"></span></button>
								<button type="button" class="btn btn-success btn-xs" @click="executeGitTask(item)" title="执行"><span class="glyphicon glyphicon-play"></span></button>
								<button type="button" class="btn btn-danger btn-xs" @click="deleteWorkspace(item,index)" title="删除"><span class="glyphicon glyphicon-minus"></span></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center" v-if="!workspaces.length">无</div>
			</div>
		</div>
		<div id="fileViewer" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">查看文件记录</h4>
					</div>
					<div class="modal-body clearfix">
						<div class="row">
							<div class="col-xs-6">
								<div class="panel panel-default">
									<div class="panel-heading">设置</div>
									<div class="panel-body form-horizontal">
										<div class="form-group">
											<label for="fileHistory_after" class="control-label col-xs-3">起始时间</label>
											<div class="col-xs-9">
												<input type="text" class="form-control" id="fileHistory_after" placeholder="起始时间" v-model.lazy="fileHistory.after">
											</div>
										</div>
										<div class="form-group">
											<label for="fileHistory_level" class="control-label col-xs-3">目录层级</label>
											<div class="col-xs-9">
												<input type="text" class="form-control" id="fileHistory_level" placeholder="目录层级" v-model.lazy="fileHistory.level">
											</div>
										</div>
										<div class="form-group">
											<label for="fileHistory_level" class="control-label col-xs-3">提交作者</label>
											<div class="col-xs-9">
												<div class="checkbox" v-if="!fileHistory.allAuthors.length">获取中...</div>
												<div class="checkbox col-xs-6" v-for="author in fileHistory.allAuthors">
													<label>
          												<input type="checkbox" :value="author.name" v-model="fileHistory.selectedAuthors">{{author.name}} <span class="badge">{{author.count}}</span>
        											</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-offset-3 col-xs-9">
												<button type="button" class="btn btn-success btn-md" @click="getFileHistory" title="执行"><span class="glyphicon glyphicon-play"></span> 执行</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="panel panel-default">
									<div class="panel-heading">结果</div>
									<div class="panel-body">
										<div v-if="gitExecuting">获取中...</div>
										<ul class="list-unstyled file-list" contenteditable="true">
											<li v-for="item in fileHistory.items">{{item}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
	</div>
</body>
<!-- Insert this line above script imports  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<!-- normal script imports etc  -->
<script src="./app/addins/jquery/v3.1.1/jquery.js"></script>
<script src="./app/addins/vue/v2.0/vue.js"></script>
<script src="./app/addins/bootstrap/v3.3.7/js/bootstrap.js"></script>
<script src="./app/addins/bootstrap-datepicker/v1.6.4/js/bootstrap-datepicker.js"></script>
<script src="./app/addins/bootstrap-datepicker/v1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>

<script>
    require('./app/page/js/index.js')
</script>

</html>